html {
    scroll-behavior: smooth;
}


/* Shop page */
.woocommerce #sidebar {
    display: none;
}

.woocommerce-breadcrumb,
.woocommerce .woocommerce-result-count,
.woocommerce-products-header h1,
.woocommerce-shop a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart,
.woocommerce-shop a.button.product_type_simple,
.woocommerce .woocommerce-ordering,
.woocommerce-shop ul.products li.product .price {
    display: none;
}




.woocommerce-page .products img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    width: 90% !important;
    height: 100% !important;
    max-width: unset;
}

/* .woocommerce-page ul.products {
   display: flex;
    justify-content: space-between;
    align-items: center;
} */

@media (max-width: 768px) {}


.woocommerce-page ul.products li.product {
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 767px) {

    .woocommerce ul.products[class*=columns-] li.product,
    .woocommerce-page ul.products[class*=columns-] li.product {
        width: 100% !important;
        margin: 0 0 1rem;
    }

    .woocommerce ul.products[class*=columns-] li.product:nth-child(2n),
    .woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n) {
        float: none
    }
}

@media only screen and (min-width: 768px) {

    .woocommerce-page ul.products li.product {
        width: 50%;
        margin: 0 auto;
    }

}

@media (min-width: 1050px) {
    .woocommerce-page ul.products li.product {
        width: 50%;
        margin: 0 auto;
    }
}

.woocommerce-shop ul.products li.product .woocommerce-loop-product__title {
    padding: 0.7em 0 2em;
    width: 90%;
    /* margin: 0 5%; if normal img */
    /* margin: 0 10%;  */
    margin: 0 auto;
    font-size: 0.8rem;
    width: fit-content;
}

.woocommerce-shop ul.products li.product .woocommerce-loop-product__title:hover {
    /* padding-bottom: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 1px; */
    color: white;
}

/* hover effect  */


.woocommerce-page ul.products li.product {
    opacity: 0.9;
}

.woocommerce-page ul.products li.product:hover {
    opacity: 1;
}


/* */
.woocommerce-shop ul.products li.product a img {
    margin: 5% auto 0 auto;
}

.woocommerce ul.products li.product a:hover {
    color: white;
}

/* .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
width: 100%;
} */

/* single product  */

.single-product .product_meta,
.single-product .related {
    display: none;
}

/*  CHECKOUT PAGE  */
.woocommerce-checkout {
    color: white;
}

.woocommerce-checkout main {
    padding: 50px;
}

.woocommerce-checkout .form-row-wide {
    padding-top: 17px
}

.woocommerce-checkout input,
.woocommerce-checkout select,
.woocommerce-checkout textarea {
    background-color: unset !important;
    border: unset !important;
    border-bottom: 1px solid white !important;
    color: white;
    padding: 5px;
}


.woocommerce .quantity .qty {
    width: 3em;
    text-align: center;
    height: 37.5px;
    border: 1px solid white;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
    display: none;
}


.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border-radius: unset;
    border: 1px solid white;
    background-color: black;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: black;
}

/* checkout balk  */
.woocommerce-checkout #payment {
    background-color: black;
    border-radius: none;
    border: 1px solid white;

}

#payment .woocommerce-checkout-payment {
    color: white;
    border-radius: 0;
}

#payment .woocommerce-privacy-policy-text {
    margin-bottom: 1.2rem;
}

#payment .woocommerce-privacy-policy-text p {
    line-height: 1.2rem;
}

#payment .woocommerce-privacy-policy-link {
    color: white;
    border-bottom: 1px solid white;

}

#payment .woocommerce-privacy-policy-link:hover {
    color: white;
    border-bottom: unset;

}



/* #payment .woocommerce button.button.alt {
    background-color: transparent;
    border: 1px solid black;
    border-radius: unset;
    color: black;
}

.woocommerce button.button.alt:hover {
    background-color: black;
    color: white;

} */

/* MY ACCOUNT */

form.woocommerce-form-login {
    width: 50%;
}

.woocommerce-account form input {
    background-color: unset;
    border: unset;
    border-bottom: 1px solid white;
    color: white;
}

/* GENERAL */

main {
    /* padding: 30px 50px; */
    color: white;
}

.select2-container--default .select2-selection--single {
    background: unset;
    border: none;
    border-bottom: 1px solid white;
}



/*  SCROLL BEHAVIOUR MENU */

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

/* PRODUCT DETAIL PAGE  */

/* .woocommerce-tabs.wc-tabs-wrapper{
    display: none;
  } */
.page-description {
    margin: 50px 0;
    padding: 0 30px;
    /* text-align: center; */
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#primary.content-area {
    margin: 50px 0;
}

.single-container {
    padding: 0 30px;
}

.woocommerce div.product div.summary {
    margin: 4em 0;

}

.woocommerce div.product div.images .flex-control-thumbs {
    margin-top: .5rem;
}

/* .woocommerce div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
  clear: unset;
  float: left;
  margin: 2em 0;
  } */


@media (min-width: 1050px) {

    .page-description {
        margin: 50px 50px;
        /* text-align: center; */
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: unset;
    }

    #primary.content-area {
        /* min-height: 800px; */
        margin: 50px;
        width: 75%;
    }

    .post-type-archive #primary.content-area {
        /* min-height: 800px; */
        margin: 50px auto;
        width: 75%;
    }

}

@media (min-width: 1200px) {
    .woocommerce div.product div.summary {
        margin: 80px auto;
        width: 44%;
    }

    /* .woocommerce div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
        width: 44%;
        margin: 40px auto;
        } */

}


/* REMOVE GREEN */
.woocommerce div.product .stock,
.woocommerce div.product p.price {
    color: white;
}

.woocommerce div.product p.price {
    font-size: 0.8rem;
}

.woocommerce div.product .product_title {
    margin-bottom: 30px;
}


.woocommerce-product-details__short-description p {
    padding: 50px 0;
}

.woocommerce div.product p.stock {
    margin: 1rem 0 .5rem;
    font-size: 0.8rem;
}

/* ADD TO CART BUTTON */

.woocommerce button.button.alt {
    background-color: transparent;
    border: 1px solid white;
    border-radius: unset;
}

.woocommerce button.button.alt:hover {
    background-color: white;
    color: black;

}


/* .woocommerce div.product div.images img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
} */

@media (min-width: 1050px) {

    /* IMAGE GALLERY FIXED HEIGHT
    .woocommerce-product-gallery__image.flex-active-slide {
        min-height: 550px !important;
    } */
}

.woocommerce-page .woocommerce {
    margin: 30px;
    margin-bottom: 50px;
}

/* checkout  */
@media (min-width: 1050px) {


    .woocommerce-page .woocommerce {
        margin: 50px;
        margin-bottom: 100px;
        max-width: 75%;

    }

}

/* @media (min-width: 1540px) {
    .woocommerce-page .woocommerce {
  
    }

} */

/* SIMPLE PAGES */

.page-container {
    color: white;
    margin: 50px 30px 100px;
    /* text-align: justify; */
}

.page-contact .page-container {
    color: white;
    margin: 50px 30px 100px;
    /* text-align: justify; */
}
.page-container p {
    padding: .5rem 0;
    line-height: 1.1rem;

}

.page-container h2 {
    line-height: 1.2rem;
    /* padding-bottom: rem; */
    border-bottom: 1px solid white;
    margin-bottom: .3rem;
    width: fit-content;
}

.page-privacy-policy .page-container p {
    padding: 0.2rem 0 1.2rem;
    line-height: 1rem;
    text-align: left;
    font-size: .9rem;
}

@media (min-width: 1050px) {

    .page-container {
        width: 45vw;
        max-width: 75%;
        margin: 50px 50px 100px;
    }
    .page-contact .page-container {
        width: 93%;
        max-width: 100%;
        margin: 50px 50px 180px;

    }

}



.contact-mail {
    border-bottom: 1px solid white;
}

.contact-mail:hover {
    border-bottom: none;
    color: white;
    transition: ease-in-out .5s
}

/* WOOCOMMERCE PAGE */

.woocommerce {
    color: white;
}

/* MESSAGE DETAILS  */

.woocommerce-message {
    border-radius: none;
    background-color: black;
    color: white;
    border: 1px solid white;
}




/* empty cart */
.woocommerce a.button {
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: unset;
}

.woocommerce a.button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: unset;
}

/* CART DETAILS  */

.woocommerce-cart-form .product-name a:hover {
    color: white;
    border-bottom: 1px solid white;
}

/* PROCCEED BUTTON */
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0px;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
    color: black;
    background-color: white;
    transition: ease-in-out .5s
}







@media only screen and (min-width: 768px) {
    /* Styles placed here will only apply to screens less than 768 pixels wide */
}

@media (min-width: 992px) {}



/* reset single product page  */
.clear-things {
    clear: both;
}


/* woocommerce after payment */
/* .woocommerce-notices-wrapper {
    margin: 0 30px;
} */

.woocommerce-info {
    /* margin: 0 30px; */
    border: 1px solid white;
    color: white;
    background-color: black;

}

@media (min-width: 1050px) {
    /* .woocommerce-notices-wrapper {
        margin: 0 50px;
    } */

    /* .woocommerce-info {
        margin: 0 50px;
    } */

}

.woocommerce-notice {
    margin-bottom: 2rem;
}

.woocommerce ul.order_details li {
    padding-bottom: 0.5rem;
}


.woocommerce-customer-details .woocommerce-customer-details--email,
.woocommerce-customer-details .woocommerce-customer-details--phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: .5rem;
}


#order_review_heading {
    margin-top: 1rem;
}


.woocommerce-error {
    border: 1px white solid;
    background: black;
    color: white;
}

/* footer fix */

footer {
    position: relative;
    bottom: 0;
}

a:hover {
    color: white;
}

.woocommerce a.remove {
    color: white !important;
}

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
    width: 80px;
}


/* fix mobile */

.mobile-nav {
    right: unset !important;
}